<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Туда-Сюда</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{../styles/style.css}" href="../styles/style.css}"/>
    <script th:src="@{../js/script_sorting.js}"></script>
    <script th:src="@{../js/searching.js}"></script>
    <link rel="stylesheet" th:href="@{../styles/templatemo-style.css}"
          href="../styles/templatemo-style.css}">
    <link rel="stylesheet" th:href="@{../styles/bootstrap.min.css}"
          href="../styles/bootstrap.min.css}">

</head>
<body class="back">
<!--NAVIGATION-->
<div>
    <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                </button>

                <a href="#" class="navbar-brand">Туда-Сюда</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-nav-first">
                    <li><a href="../#home" class="smoothScroll">Главная</a></li>
                    <li><a href="../#about" class="smoothScroll">О нас</a></li>
                    <li><a href="/orders" class="smoothScroll">Поездки</a></li>

                    <!--Admins functions-->
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/users" class="smoothScroll">Пользователи</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/fuels" class="smoothScroll">Топливо</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/vehicles" class="smoothScroll">Транспорт</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/places" class="smoothScroll">Локации</a></li>

                    <!--Users functions-->
                    <li sec:authorize="hasRole('ROLE_USER')"><a
                            th:href="@{/user-tickets/{username}(username=${#httpServletRequest.remoteUser})}"
                            class="smoothScroll">Мои билеты</a></li>

                    <!--Authorization and Logout-->
                    <li th:if="${#httpServletRequest.remoteUser}==null"><a th:href="@{/login}" class="smoothScroll">Войти</a>
                    </li>
                    <li th:unless="${#httpServletRequest.remoteUser}==null"><a
                            href="javascript: document.logoutForm.submit()" role="menuitem"> Выйти</a>
                    </li>
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>

                </ul>

            </div>

        </div>
    </section>
</div>
<!--TABLE-->
<div th:switch="${orders}" class="col-8 text-center">
    <h2 th:case="null">Доступные рейсы отсутствуют!</h2>
    <div th:case="*">
        <p></p>
        <div class="text-center">
            <input type="text" id="myInput" class="myInput" onkeyup="searchFunction()" placeholder="Поиск...">
        </div>
        <div class="text-center">
            <h3 class="col-xs-10 col-md-5 col-lg-6 col-xl-6 text-center">Откуда</h3>
            <h3 class="col-xs-10 col-md-5 col-lg-6 col-xl-6 text-center">Куда</h3>
            <div class="col-lg-1 col-xl-1"></div>
            <select type="text" id="filterInput1" class="col-xs-10 col-md-7 col-lg-4 col-xl-4 form-select"
                    onclick="filterOrderPlaceFunction()">
                <option value="" selected></option>
                <div th:each="place:${places}">
                    <option th:text="${place.name}"></option>
                </div>
            </select>
            <div class="col-lg-2 col-xl-2"></div>
            <select type="text" id="filterInput2" class="col-xs-10 col-md-7 col-lg-4 col-xl-4 form-select"
                    onclick="filterOrderPlaceFunction()">
                <option value="" selected></option>
                <div th:each="place:${places}">
                    <option th:text="${place.name}"></option>
                </div>
            </select>
            <div class="col-lg-1 col-xl-1"></div>
        </div>
        <h2 class="col-xs-12 col-md-12 col-lg-12 col-xl-12 text-center">Рейсы</h2>
        <div th:if="${#httpServletRequest.remoteUser} == null"
             class="col-xs-12 col-md-12 col-lg-12 col-xl-12 text-center">Авторизируйтесь и забронируйте место на
            интересующий
            рейс.
        </div>
        <table class="table table-striped table-hover table_sort" id="example">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Когда?</th>
                <th>Цена, BYN</th>
                <th>Водитель</th>
                <th>Автомобиль</th>
                <th>Свободно мест</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order, iter : ${orders}">
                <td><a th:text="${order.idOrder}" th:href="@{/tickets/{idOrder}(idOrder=${order.idOrder})}"></a></td>
                <td th:text="${order.departure.name}"></td>
                <td th:text="${order.arrive.name}"></td>
                <td th:text="${order.datetime}"></td>
                <td th:text="${order.price}"></td>
                <td th:text="${order.vehicle.user.username}"></td>
                <td th:text="${order.vehicle.number}"></td>
                <td th:text="${order.vehicle.numberOfSets - active[iter.index]}"></td>

                <td sec:authorize="hasRole('ROLE_ADMIN')"><a
                        th:href="@{order-update/{idOrder}(idOrder=${order.idOrder})}">
                    Редактировать</a></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a
                        th:href="@{order-delete/{idOrder}(idOrder=${order.idOrder})}">Удалить</a>
                </td>
                <td sec:authorize="hasRole('ROLE_USER')">
                    <div th:if="${order.vehicle.numberOfSets - active[iter.index]}>0">
                        <a th:href="@{ticket-create/{idOrder}/{username}(idOrder=${order.idOrder}, username=${#httpServletRequest.remoteUser})}">Забронировать
                            место</a>
                    </div>
                    <div th:unless="${order.vehicle.numberOfSets - active[iter.index]}>0">
                        Нет свободных мест
                    </div>
                </td>

            </tbody>
        </table>
    </div>
    <p>
    <td sec:authorize="hasRole('ROLE_ADMIN')"><a href="/order-create">Добавить</a></td>
    </p>

    <!-- старые заказы-->

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="text-center">
            <input type="text" id="myInput2" class="myInput" onkeyup="searchFunction2()"
                   placeholder="Поиск в архиве...">
        </div>
        <h2 class="text-center">Архив рейсов</h2>
        <table class="table table-striped table-hover table_sort" id="example2">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Когда?</th>
                <th>Цена, BYN</th>
                <th>Водитель</th>
                <th>Автомобиль</th>
                <th>Свободно мест</th>
                <th>Финансовый результат, BYN</th>
                <th>Отчёт</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order, ite : ${old_orders}">
                <td><a th:text="${order.idOrder}" th:href="@{/tickets/{idOrder}(idOrder=${order.idOrder})}"></a></td>
                <td th:text="${order.departure.name}"></td>
                <td th:text="${order.arrive.name}"></td>
                <td th:text="${order.datetime}"></td>
                <td th:text="${order.price}"></td>
                <td th:text="${order.vehicle.user.username}"></td>
                <td th:text="${order.vehicle.number}"></td>
                <td th:text="${order.vehicle.numberOfSets - archive[ite.index]}"></td>
                <td th:text="${@thymeCeil.ceil((order.price*archive[ite.index]) - (distances[ite.index] / 100 * order.vehicle.fuelConsumptionPer100Kilometers
                * order.vehicle.fuel.price))}"></td>
                <td th:text="Download"></td>

            </tr>


            </tbody>
        </table>
    </div>

</div>
<!-- FOOTER-->
<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-3 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Штаб-квартира</h2>
                    </div>
                    <address>
                        <p>Минск, ул. Бобруйская 6</p>
                    </address>

                    <div class="copyright-text">
                        <p>Copyright &copy; 2022 Туда-Сюда</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xl-8">
                <div class="footer-info">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2308.4660405062523!2d27.55272029780461!3d53.89035954851131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfb3fca0fc7b%3A0xad6896889720702a!2z0JLQvtC60LfQsNC7!5e1!3m2!1sru!2sby!4v1650048392340!5m2!1sru!2sby"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Контактная информация</h2>
                    </div>
                    <address>
                        <p>+375 29 0000000 <br> +375 44 1111111</p>
                        <p><a href="from.zyym@gmail.com">from.zyym@gmail.com</a></p>
                    </address>

                </div>
            </div>

        </div>
    </div>
</footer>

<!-- SCRIPTS -->
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/custom.js"></script>

</script>
</body>
</html>